<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  {% include head.html %}
  <body a="{{ site.theme_config.appearance | default: 'auto' }}">
    <main class="page-content" aria-label="Content">
      <div class="w">
        <header class="site-header">
          <div class="site-title-row">
            <img src="{{ '/logo.png' | relative_url }}" width="60" class="home-logo" alt="" />
            <h1>{{ site.title }}</h1>
          </div>
          {%- if site.theme_config.show_description and site.description -%}
            <p>{{ site.description }}</p>
          {%- endif -%}
        </header>

        {{ content }}

        <ul class="home-menu">
          {% include menu_item.html collection=site.data.menu.entries item_class="home-menu-section" %}
        </ul>
      </div>
    </main>
  </body>
</html>
